<!DOCTYPE html>
<html ng-app>
<head>
    <title>AngularJS - Contacts Book</title>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
    <script type="text/javascript"
        src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script type="text/javascript" src="contacts_book.js"></script>
    <link rel="stylesheet" media="screen" href="bootstrap.css" />
    <script>
    $(document).ready(function () {
        $('#btnFormat').click(function() {
            console.log('hello');
            $('#formatted_json').text(
                JSON.stringify(
                    JSON.parse(
                        $('#raw_json').text()), null ,2)
            );
        });
    });
    </script>
</head>

<body>
<div style="margin: 0 auto;margin-top: 5%; width: 80%" ng-controller="ContactController">
    <h4>Create new Class</h4>
    <label>FileName (ex: enter <strong>"1990"</strong> for 1990.json):</label>
    <input type="text" name="jsonname" ng-model="jsonObj.name"/>

    <form name="contact-form" class="well ng-valid ng-dirty">
    <label>Name</label>
        <input type="text" name="name" ng-model="newcontact.name"/>
    <label>Index</label>
        <input type="text" name="index" ng-model="newcontact.index"/>

        <br/>
        <input type="hidden" ng-model="newcontact.id" />
     <input type="button" value="Save" ng-click="saveContact()" class="btn btn-primary" />
    </form><br/><br/>

    <h4>Content to Copy into {{jsonObj.name}}.json</h4>

    <div style="opacity: 0; height: 0px;" id="raw_json">{{jsonObj | json}}</div>
    <!--<textarea id="temp_json">value {{jsonObj | json}}</textarea>//-->
    <pre id="formatted_json"></pre>
    <div class="col-6 btn-primary" style="padding: 20px; background: limegreen; color:#eee" id="btnFormat">Show My JSON</div>
    <br/><br/><br/>

    <h5>Sample View for the 'Class of {{jsonObj.name}}'</h5>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Index</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="contact in contacts">
          <td>{{contact.name}}</td>
          <td>{{contact.index}}</td>
          <td>
            <a href="#" ng-click="edit(contact.id)">edit</a> |
            <a href="#" ng-click="delete(contact.id)">delete</a>
          </td>
        </tr>
      </tbody>
    </table>
</div>
</body>
</html>
