<!DOCTYPE html>
<html ng-app>
<head>
    <title>Nooraniya Alumni Data Generator</title>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
    <script type="text/javascript"
        src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script type="text/javascript" src="contacts_book.js"></script>
    <link rel="stylesheet" media="screen" href="bootstrap.css" />
    <script>
    $(document).ready(function () {
        $('#btnFormat').click(function() {
            $('#formatted_json').text(
              JSON.stringify(JSON.parse($('#raw_json').text()), null, 2)
            );
        });

        $('.form-group').each((i,e) => {
          $('.form-control', e).focus( function () {
            e.classList.add('not-empty');
          })
          .blur( function () {
            this.value === '' ? e.classList.remove('not-empty') : null;
          });
        });


    });
    </script>
</head>

<body>
<div style="margin: 0 auto;margin-top: 5%; width: 80%" ng-controller="ContactController">

    <!-- Alumni Class Year //-->
    <h4>Create new Class</h4>

    <label>File Name (ex: <strong>"1990"</strong> for 1990.json):</label>
    <input type="text" name="jsonname" ng-model="jsonObj.name"/>


    <!-- Form to capture alumni details //-->
    <div class="row">
    <form name="contact-form" class="well ng-valid ng-dirty">
        <div class="col-md-6">
            <!-- Name //-->
            <div class="form-group">
                <label for="name">Name</label>
                <input id="name" class="form-control" type="text" ng-model="newcontact.name"/>
            </div>

            <!-- Phone //-->
            <div class="form-group">
                <label for="name">Phone</label>
                <input id="phone" class="form-control" type="text" ng-model="newcontact.phone"/>
            </div>

            <div class="" style="margin: 25px 0px">
                <label>Graduate</label>
                <fieldset>
                    <input type="radio" id="grad-yes" value="YES" ng-model="newcontact.graduate"/>
                    <label for="grad-yes">YES</label>

                    <input type="radio" id="grad-no" value="NO" ng-model="newcontact.graduate"/>
                    <label for="grad-no">NO</label>
                </fieldset>
            </div>

            <div class="form-group">
                <label for="address">Address</label>
                <textarea id="address" class="form-control" type="text" ng-model="newcontact.address"/></textarea>
            </div>
            <input type="hidden" ng-model="newcontact.id" />
        </div>

        <div class="col-md-6">
            <!-- index //-->
            <div class="form-group">
                <label for="stuId">Index</label>
                <input id="stuId" class="form-control" type="text" ng-model="newcontact.stuId"/>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input id="email" class="form-control" type="text" ng-model="newcontact.email"/>
            </div>

            <div class="form-group">
                <label for="donation">Donation</label>
                <input id="donation" class="form-control" type="text" ng-model="newcontact.donation"/>
            </div>
            <div class="" style="margin: 25px 0px">
                <label>Gender</label>
                <fieldset>
                    <input type="radio" id="man" value="MALE" ng-model="newcontact.gender"/>
                    <label for="man">MALE</label>

                    <input type="radio" id="women" value="FEMALE" ng-model="newcontact.gender"/>
                    <label for="women">FEMALE</label>
                </fieldset>

            </div>
        </div>



        <div style="clear: both; margin: 15px;">
            <input style="margin-top: 20px;padding:20px 70px; background: #337ab7;color: #fff; font-size:19px; font-weight: 200;"
                   type="button" value="Save" ng-click="saveContact()"
                   class="btn">
        </div>

    </form>
    </div><br/><br/>
            <!-- End of Form //-->



    <!-- Formatted JSON //-->
    <h4>Content to Copy into {{jsonObj.name}}.json</h4>

    <div style="opacity: 0; height: 0px;" id="raw_json">{{jsonObj | json}}</div>
      <pre id="formatted_json"></pre>

      <div class="col-6 btn btn-primary"
           style="border: none;padding: 20px 40px; font-size:19px; font-weight: 200; background: #337ab7; color:#eee;"
           id="btnFormat">Generate JSON</div>
      <!-- LIVE PREVIEW:
        <div style="opacity: 0; height: 0px;" id="raw_json">{{jsonObj | json}}</div>//-->
    <br/><br/><br/>


    <!-- preview of the alumni class in a table //-->
    <h5>Sample View for the 'Class of {{jsonObj.name}}'</h5>
    <table class="table table-striped table-bordered">
      <thead>

          <th>Name</th><th>Index</th>
          <th>email</th><th>phone</th>
          <th>donation</th><th>gender</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="contact in contacts">
          <td>{{contact.name}}</td>
          <td>{{contact.stuId}}</td>
          <td>{{contact.email}}</td>
          <td>{{contact.phone}}</td>
          <td>{{contact.donation}}</td>
          <td>{{contact.gender}}</td>
          <td>
            <a href="#" ng-click="edit(contact.id)">edit</a> |
            <a href="#" ng-click="delete(contact.id)">delete</a>
          </td>
        </tr>
      </tbody>
    </table>
</div>
</body>
</html>
