<!DOCTYPE html>
<html ng-app>
<head>
    <title>AngularJS - Contacts Book</title>
    <script type="text/javascript"
        src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script type="text/javascript" src="contacts_book.js"></script>
    <link rel="stylesheet" media="screen" href="bootstrap.css" />
</head>

<body>
<div style="margin: 0 auto;margin-top: 5%; width: 80%" ng-controller="ContactController">
    <h4>Create new Class</h4>
    <label>FileName (ex: enter <strong>"1990"</strong> for 1990.json):</label>
    <input type="text" name="jsonname" ng-model="jsonObj.name"/>

    <form name="contact-form" class="well ng-valid ng-dirty">
    <label>Name</label>
        <input type="text" name="name" ng-model="newcontact.name"/>
    <label>Index</label>
        <input type="text" name="index" ng-model="newcontact.index"/>

        <br/>
        <input type="hidden" ng-model="newcontact.id" />
     <input type="button" value="Save" ng-click="saveContact()" class="btn btn-primary" />
    </form><br/><br/>

    <h4>Content to Copy into {{jsonObj.name}}.json</h4>
    {{jsonObj | json}}
    <br/><br/><br/>

    <h5>Sample View for the 'Class of {{jsonObj.name}}'</h5>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Index</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="contact in contacts">
          <td>{{contact.name}}</td>
          <td>{{contact.index}}</td>
          <td>
            <a  href="#" ng-click="edit(contact.id)">edit</a> |
            <a href="#" ng-click="delete(contact.id)">delete</a>
          </td>
        </tr>
      </tbody>
    </table>
</div>
</body>
</html>
